@font-face {
    font-family: 'Didot';
    src: url('Didot.woff2') format('woff2'),
        url('Didot.woff') format('woff'),
        url('Didot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

